.dialog {
  position: fixed;
  width: 250px;
  left: ~"calc(50% - 100px)";
  top: 200px;
  background: @background;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .2);
  z-index: 999;
  padding: 10px;
  border: 2px solid #AAA;
  line-height: 170%;

  .button-row {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 16px;

    button {
      padding: 8px;
      border: 1px solid #888;
      text-align: center;
      background: @background;
      color: @foreground;
      min-width: 75px;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, .1);

      &:hover {
        border: 1px solid black;
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: fade(@background, 20%);
  z-index: 99;
}

.credits {
  text-align: center;

  h2 {
    font-size: 18px;
    font-weight: normal;
  }

  h3 {
    font-size: 14px;
  }

  a, a:visited {
    color: @accent;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 0;
      margin: 0;
      margin-bottom: 1em;
    }
  }
}