@accent: #808;
@foreground: #111;
@background: #F7F7F7;
@faded: #AAA;

@import "base";
@import "tabs";
@import "ui";
@import "menus";
@import "dialog";
@import "palette";
@import "project";
@import "searchbar";