.tabs {
  background: @faded;
  padding: 2px;
  display: flex;
  justify-content: flex-start;
  
  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    padding: 0px 4px;
    margin-right: 3px;
    background: @background;
    color: fade(@foreground, 50%);
    padding-bottom: 4px;
    flex: 0 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    
    transition: width .5s, border-width .5s;
    
    &.active {
      padding-bottom: 0px;
      border-bottom: 4px solid @accent;
      color: @foreground;
    }
    
    &.dragging {
      width: 0;
      padding: 0;
    }
    
    &.hovering {
      border-color: @faded;
      border-left-width: 50px;
      border-left-style: solid;
    }
    
    .close {
      font-size: 18px;
      text-align: center;
      color: @accent;
      position: relative;
      margin-left: 4px;
      
      &:hover {
        color: @foreground;
      }
    }
  }
}