//window frame
.titlebar {
  -webkit-app-region: drag;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 16px;
  background: linear-gradient(to left, @background, mix(@background, #888, 90%));
  
  .toolbar, .window-controls {
    -webkit-app-region: no-drag;
  }
  
  .app-name {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid @foreground;
  }
  
  .window-controls {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-content: stretch;
    align-items: baseline;
    padding: 0 4px;
    
    a {
      width: 40px;
      display: block;
      margin-left: 1px;
      font-family: monospace;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      background: mix(@background, #888, 65%);
      color: mix(@foreground, #888, 50%);
      transition: opacity .3s ease;
      opacity: .8;
      color: @foreground;
      
      &:hover {
        opacity: 1;
        color: @foreground;
      }
      
      &.close {
        background: @accent;
        color: white;
      }
    }
  }
}

//menus
.toolbar {
  padding: 0;
  margin: 0;
  color: @foreground;
  line-height: 30px;
  list-style-type: none;
  z-index: 99;
  
  hr {
    border: none;
    border-top: 1px solid rgba(128, 128, 128, .2);
    margin: 4px 8px;
  }

  .shortcut {
    color: fade(@foreground, 50%);
    margin-left: 1em;
  }

  //nested menus (default)
  li {
    transition: opacity .2s;
    display: flex;
    padding: 4px 8px;
    justify-content: space-between;
    position: relative;

    &:hover, &.active {
      background: mix(@background, #888, 80%);
    }

    &.parent:hover, &.active {

      & > .menu {
        display: block;
      }

    }

    .menu {
      display: none;
      min-width: 250px;
      position: absolute;
      margin-left: 90%;
      margin-top: -2em;
      z-index: 999;
      background: @background;
      padding: 8px 0;
      box-shadow: 4px 8px 16px rgba(0, 0, 0, .25);
    }

    &.parent::after {
      content: "►";
      font-family: serif;
      position: absolute;
      right: 4px;
      top: 0;
      color: fade(@foreground, 50%);
    }

  }

  //base-level menus
  & > li {
    display: inline-block;
    padding: 4px 8px;
    line-height: initial;

    & > .menu {
      margin-left: -8px;
      margin-top: 4px;
    }
  }
  
}

//status bar
.bottom-bar {
  margin: 0;
  padding: 2px 5px;

  .status-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  
  select {
    margin: 0;
    border: none;
    width: 150px;
    background: @background;
    color: @foreground;
    -webkit-appearance: none;
  }
}

//app-wide scrollbar
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: mix(@foreground, @background, 30%);
    border: 3px solid transparent;
    border-radius: 6px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: mix(@foreground, @background, 35%);
}

::-webkit-scrollbar-corner {
    background-color: mix(@foreground, @background, 15%);
}
