<div><span class="credits">
  <h2>Caret v.{{version}}</h2>
  <ul>
    <li>Written by <a href="http://thomaswilburn.net" target=_blank>Thomas Wilburn</a>
    <li> 
      <a href="http://thomaswilburn.net/caret" target=_blank>[ Home Page ]</a>
      &mdash;
      <a href="https://chrome.google.com/webstore/support/fljalecfjciodhpcledpamjachpmelml#bug" target=_blank>[ Support ]</a>
    <li>Caret is available under a GPL license, which means that the <a href="https://github.com/thomaswilburn/Caret" target=_blank>source code</a> is freely available for you to use and modify as you see fit. If you find Caret useful, consider donating to the Free Software Foundation's <a href="https://my.fsf.org/donate/directed-donations/esp" target=_blank>Fund to End Software Patents</a>.
  </ul>
</span></div>